@use "sass:math";

@font-face {
  font-family: square;
  src: url("../public/square.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  /* square font by 
     https://strlen.com/square/*/
  font-family: square, 'Courier New', Courier, monospace;
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /* -ms-user-select:none; */
  user-select: none;

  background-color: black;
  color: white;
}

.room {
  color: white;
  font-size: clamp(0.75rem, -0.875rem + 5.333vw, 1.8rem);
}

#appContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#container1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.UI {
  margin: 5px;
  height: 617px;
  width: 389px;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.UI::-webkit-scrollbar {
  display: none;
}

.bars {
  display: flex;
  flex-direction: column;
}

.playerInfo {
  display: flex;
  flex-direction: column;
}

.textLog {
  margin: 2px;
  height: 127px;
  width: 90%;
  font-size: 20px;
  overflow: scroll;
  align-self: flex-start;
  align-items: stretch;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.textLog::-webkit-scrollbar {
  display: none;
}




/* TILE STYLES BELOW ... */
.deepWaterStyle {
  color: rgb(0, 56, 139);
  mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .3) 30%, #000 50%, rgba(0, 0, 0, .3) 70%);
  mask-size: 200%;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .3) 30%, #000 50%, rgba(0, 0, 0, .3) 70%);
  -webkit-mask-size: 200%;
  animation: shine 8s linear infinite;
}

.waterStyle {
  color: rgb(0, 183, 255);
  mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .3) 30%, #000 50%, rgba(0, 0, 0, .3) 70%);
  mask-size: 200%;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .3) 30%, #000 50%, rgba(0, 0, 0, .3) 70%);
  -webkit-mask-size: 200%;
  animation: shine 8s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 100%;
  }

  to {
    -webkit-mask-position: -100%;
  }
}

.shoreStyle {
  color: rgb(255, 148, 41)
}

.emptyStyle {
  color: rgb(0, 160, 27)
}

.slopeStyle {
  color: rgb(255, 250, 197)
}

.mountainStyle {
  color: rgba(210, 235, 255, 0.692)
}

.wallStyle {
  color: rgb(255, 255, 255)
}