body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select:none;
  -moz-user-select:-moz-none;
  /* -ms-user-select:none; */
  user-select:none;

  background-color: black;
  color: white;
}

@mixin random-color(){
  color: rgb(random(255), random(255), random(255));
}

.room {
  color: white;
  /* @include random-color(); */
  font-size: clamp(0.75rem, -0.875rem + 5.333vw, 1.8rem);
}

#appContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#container1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.UI {
  margin: 5px;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.playerInfo {
  display: flex;
}

.textLog {
  margin: 5px;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: stretch;
}

/* TILE STYLES BELOW ... */
.waterStyle {
  color: blue
}

.wallStyle {
  color: brown
}

.emptyStyle {
  color: green
}