body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select:none;
  -moz-user-select:-moz-none;
  /* -ms-user-select:none; */
  user-select:none;

  background-color: black;
  color: white;
}

@mixin random-color(){
  color: rgb(random(255), random(255), random(255));
}

.room {
  color: white;
  /* @include random-color(); */
  font-size: clamp(0.75rem, -0.875rem + 5.333vw, 1.8rem);
}

#appContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#container1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.UI {
  margin: 5px;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.bars {
  display: flex;
  flex-direction: column;
}

.playerInfo {
  display: flex;
  flex-direction: column;
}

.textLog::-webkit-scrollbar {
  display: none;
}

.textLog {
  margin: 2px;
  height: 127px;
  width: 90%;
  font-size: 20px;
  overflow: scroll;
  align-self: flex-start;
  align-items: stretch;


  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}






/* TILE STYLES BELOW ... */
.deepWaterStyle {
  color: darkblue
}

.waterStyle {
  color: blue
}

.shoreStyle {
  color: rgb(165, 82, 0)
}

.emptyStyle {
  color: rgb(97, 126, 48)
}

.slopeStyle {
  color:rgb(138, 136, 112)
}

.mountainStyle {
  color: grey
}

.wallStyle {
  color: rgba(177, 226, 226, 0.356)
}

.light {
  opacity: 0.2; /* Barely see the text over the background */
}
.medium {
  opacity: 0.5; /* See the text more clearly over the background */
}
.heavy {
  opacity: 1; /* See the text very clearly over the background */
}